@model QuizNet.BusinessLogic.DTO.DetailsDto
@{
    ViewData["Title"] = "Get";
}

<h1>Details</h1>
<hr />

<div class="mb-sm-3">
    <div class="row">
        <div class="col-sm-12">
            <h3>@Model.QuestionDetails.CONTENT</h3>
        </div>
    </div>
</div>
<ul>
    @foreach (var answers in Model.AnswersDetails)
    {
        if (answers.IS_CORRECT)
        {
            <li class="list-group-item active">@answers.CONTENT</li>
        }
        else
        {
            <li class="list-group-item">@answers.CONTENT</li>
        }
    }
</ul>
</br>
<div class="mb-sm-3">
<a class="btn btn-primary btn-block" asp-controller="Question" asp-action="GetAll">Ok!</a>
</div>

