@model List<QuizNet.DataAccess.Models.AnswersViewModel>
@{
    ViewData["Title"] = "Get";
}

<h1>Details</h1>
<br />

<hr />
<h3>Answers</h3>
<br />
@foreach (var answers in Model)
{
    <div class="mb-sm-3">
        <div class="row">
            <div class="col-sm-auto">
                <ul>@answers.AID</ul>
            </div>
            <div class="col-sm-6">
                <ul>@answers.CONTENT</ul>
            </div>
        </div>
        <br />
        <ul class="list-group">

            @*@foreach (var answer in question.Answers)
                {
                    <li class="list-group-item">@answer.Text</li>
                }*@
        </ul>
    </div>


}



