@model QuizNet.BusinessLogic.DTO.DetailsDto
@{
        ViewData["Title"] = "Get";
}

<h1>Details</h1>
<hr />

@foreach (var questionDetails in Model.QuestionDetails)
{
<div class="mb-sm-3">
    <div class="row">
        <div class="col-sm-4">
            <h3>@questionDetails.CONTENT</h3>
        </div>
    </div>
    @foreach (var answers in Model.AnswersDetails)
    {
        <div class="row">
            <div class="col-sm-4">
                <ul>@answers.AID. @answers.CONTENT</ul>
            </div>
        </div>
    }
</div>
<hr/>
}



