@model QuestionFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>@Model.ActionType</h1>

<form method="post" asp-controller="Question" asp-action="Save">
    <input asp-for="Question.ID" type="hidden" />
    Question text:
    <input class="form-control" asp-for="Question.CONTENT" />
    <span asp-validation-for="Question.CONTENT" class="text-danger"></span><br />

    Answer 1# 
    <input class="form-control" asp-for="Answers[0].CONTENT" id="answer0" />
    <span asp-validation-for="Answers[0].CONTENT" class="text-danger"></span><br />

    Answer 2# 
    <input class="form-control" asp-for="Answers[1].CONTENT" />
    <span asp-validation-for="Answers[1].CONTENT" class="text-danger"></span><br />

    Answer 3# 
    <input class="form-control" asp-for="Answers[2].CONTENT" />
    <span asp-validation-for="Answers[2].CONTENT" class="text-danger"></span><br />

    Answer 4# 
    <input class="form-control" asp-for="Answers[3].CONTENT" />
    <span asp-validation-for="Answers[3].CONTENT" class="text-danger"></span><br />

    <select class="custom-select" asp-for="CorrectAnswerId">
        <option value="0"> 1#</option>
        <option value="1"> 2#</option>
        <option value="2"> 3#</option>
        <option value="3"> 4#</option>
    </select>
    <button class="btn btn-primary btn-block" type="submit">@Model.ActionType</button>

</form>

@section Scripts{

    <script>
        $(document).ready(function() {
            $("#answer0").on("input",
                function(event) {
                    var enteredText = event.target.value;
                    $("#0").html(enteredText);
                });
        });
    </script>


}