<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuizNetDataBaseEntities" connectionString="metadata=res://*/QuizNetDataBaseModel.csdl|res://*/QuizNetDataBaseModel.ssdl|res://*/QuizNetDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Moje\GitHub Repository\QuizNet\QuizNet\QuizNetDataBase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>